$hover-cyan: #69e0ff;

$header-height: 4rem;
$footer-height: 4rem;

.textlink {
  // text-gray-300
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));

  // font-sans
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // text-lg
  font-size: 1.125rem;

  // font-normal
  font-weight: 400;

  // leading-7 (text-lg line-height)
  line-height: 1.75rem;

  // transition-colors duration-200
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    // hover:text-white
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));

    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff;
  }
}

.contentHeight {
  min-height: calc(100vh - $header-height - $footer-height);
}
