@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hover: #edebef;
  --line: #8a829955;
  --link: #ec4899;
}

@layer base {
  body {
    @apply font-sans leading-7;
    -webkit-text-size-adjust: 100%;
    @apply text-fg bg-bg;
  }
  h1 {
    @apply text-4xl font-bold leading-normal;
  }
  h2 {
    @apply text-3xl font-bold leading-normal;
  }
  h3 {
    @apply text-2xl font-bold leading-normal;
  }
  h4 {
    @apply text-xl font-bold leading-normal;
  }
  h5 {
    @apply text-lg font-bold leading-normal;
  }
  h6 {
    @apply text-lg font-bold leading-normal;
  }
  blockquote {
    @apply text-fg-light bg-bg-focus2;
    @apply border-l-8 border-[--line] rounded-lg bg-clip-border overflow-hidden;
    @apply my-6 px-5 py-4;
    position: relative;
  }
}

@layer utilities {
  .highlight-word {
    --highlighted-border-size: 3px;
    --highlighted-bg-color: theme("colors.yellow.500");

    border-bottom-width: var(--highlighted-border-size);
    border-radius: calc(var(--highlighted-border-size) * 2);
    padding-top: calc(var(--highlighted-border-size) * 2 - 3px);
    padding-left: calc(var(--highlighted-border-size) * 2);
    padding-right: calc(var(--highlighted-border-size) * 2);

    background-color: rgb(from var(--highlighted-bg-color) r g b / 25%);
    border-color: rgb(from var(--highlighted-bg-color) r g b / 30%);
  }
  .tag-word {
    --tag-border-size: 1px;
    --tag-border-opacity: 0%;
    --tag-base-size: 1rem;
    --tag-text-color: theme("colors.pink.500");
    --tag-bg-opacity: 10%;

    font-size: calc(var(--tag-base-size) * 0.875);
    line-height: calc(var(--tag-base-size) * 1.25);
    border-radius: calc(var(--tag-base-size) * 0.75);
    padding-left: calc(var(--tag-base-size) * 0.5);
    padding-right: calc(var(--tag-base-size) * 0.5);
    padding-top: calc(var(--tag-base-size) * 0.25);
    padding-bottom: calc(var(--tag-base-size) * 0.25);

    border-width: var(--tag-border-size);
    border-color: rgb(
      from var(--tag-text-color) r g b / var(--tag-border-opacity)
    );

    background-color: rgb(
      from var(--tag-text-color) r g b / var(--tag-bg-opacity)
    );
    color: rgb(from var(--tag-text-color) r g b);
    &:hover {
      background-color: rgb(
        from var(--tag-text-color) r g b / calc(var(--tag-bg-opacity) * 2)
      );
    }
  }
  .post-frame {
    @apply flex flex-col mx-auto min-h-screen;
    @apply p-2;
  }
  .post-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    @apply mb-16;
    & p,
    & li {
      & a:not(.tag-word) {
        @apply text-[color:var(--link)] underline decoration-[color:var(--link)] decoration-2 underline-offset-2;
      }
    }
    & p {
      @apply my-4;
    }
    & blockquote {
      & p {
        margin: 0;
      }
    }
    & ul {
      @apply mb-4;
      @apply list-disc;
    }
    & ol {
      @apply mb-4;
      @apply list-decimal;
    }
    & li {
      @apply ml-6;
      @apply list-outside;
    }
    & h1 {
      @apply mt-12 mb-8;
    }
    & h2 {
      @apply mt-12 mb-8;
    }
    & h3 {
      @apply mt-10 mb-6;
    }
    & h4 {
      @apply mt-8 mb-4;
    }
    & h5 {
      @apply mt-6 mb-4;
    }
    & h6 {
      @apply mt-6 mb-4 ml-1;
    }
    & hr {
      @apply my-8;
    }
    & table {
      display: block;
      overflow-x: auto;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: center;
      @apply my-4;

      & th,
      & td {
        border: 1px solid var(--line);
        transition-property: border;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        padding: 0.25rem 0.5rem;
      }

      & th {
        background: var(--hover);
        transition-property: background;
        transition-duration: 0.2s;
        transition-timing-function: ease;
      }
    }

    // code inline
    & :not(pre) > code {
      @apply bg-codeinline/20 text-codeinline-text;
      transition-property: background;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      @apply py-0.5 px-1 mx-0.5;
      @apply rounded;
      // border-radius: 0.2rem;
      font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco,
        Consolas, monospace;
    }

    // code block
    & figure[data-rehype-pretty-code-figure] {
      @apply my-4; // block component margin
      @apply rounded-md bg-clip-border overflow-hidden;
      @apply relative; // for title... to be absolute

      > [data-rehype-pretty-code-title] {
        // when no caption, it will be figcaption
        // when caption exists, it will be div
        @apply p-2 w-full;
        @apply bg-codeblock-titlebg/90 text-codeblock-titletext;
        @apply whitespace-nowrap text-ellipsis overflow-hidden;
        @apply text-sm;
      }

      > pre {
        @apply bg-codeblock/85 text-codeblock-text;
        @apply py-4;
        @apply text-sm;
        @apply overflow-x-auto;

        & code span[data-line] {
          @apply px-4;
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco,
            Consolas, monospace;

          &[data-highlighted-line] {
            // 高亮行
            @apply border-r-4;
            --highlighted-line-color: theme("colors.codeblock.highlightedbg");
            background-color: rgb(
              from var(--highlighted-line-color) r g b / 20%
            );
            border-color: rgb(from var(--highlighted-line-color) r g b / 40%);
            &[data-highlighted-line-id="a"],
            &[data-highlighted-line-id="1"] {
              --highlighted-line-color: theme("colors.codeblock.colored.a");
            }
            &[data-highlighted-line-id="b"],
            &[data-highlighted-line-id="2"] {
              --highlighted-line-color: theme("colors.codeblock.colored.b");
            }
            &[data-highlighted-line-id="c"],
            &[data-highlighted-line-id="3"] {
              --highlighted-line-color: theme("colors.codeblock.colored.c");
            }
            &[data-highlighted-line-id="d"],
            &[data-highlighted-line-id="4"] {
              --highlighted-line-color: theme("colors.codeblock.colored.d");
            }
            &[data-highlighted-line-id="e"],
            &[data-highlighted-line-id="5"] {
              --highlighted-line-color: theme("colors.codeblock.colored.e");
            }
            &[data-highlighted-line-id="f"],
            &[data-highlighted-line-id="6"] {
              --highlighted-line-color: theme("colors.codeblock.colored.f");
            }
          }

          > mark[data-highlighted-chars] {
            // 高亮字符
            @apply highlight-word;
            --highlighted-border-size: 2px;
            --highlighted-bg-color: theme("colors.codeblock.highlightedbg");

            &[data-chars-id="a"],
            &[data-chars-id="1"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.a");
            }
            &[data-chars-id="b"],
            &[data-chars-id="2"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.b");
            }
            &[data-chars-id="c"],
            &[data-chars-id="3"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.c");
            }
            &[data-chars-id="d"],
            &[data-chars-id="4"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.d");
            }
            &[data-chars-id="e"],
            &[data-chars-id="5"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.e");
            }
            &[data-chars-id="f"],
            &[data-chars-id="6"] {
              --highlighted-bg-color: theme("colors.codeblock.colored.f");
            }
          }
        }

        // 专门处理行号
        & code[data-line-numbers] {
          counter-reset: line;

          > [data-line]::before {
            counter-increment: line;
            content: counter(line);

            /* Other styling */
            @apply inline-block mr-4 text-right text-codeblock-titletext/20;
            @apply w-2;
          }

          &[data-line-numbers-max-digits="2"] > [data-line]::before {
            @apply w-4;
          }
          &[data-line-numbers-max-digits="3"] > [data-line]::before {
            @apply w-8;
          }
          &[data-line-numbers-max-digits="4"] > [data-line]::before {
            @apply w-10;
          }
        }
      }

      > [data-rehype-pretty-code-caption] {
        // it would be a figcaption
        @apply p-2 w-full;
        @apply bg-codeblock-titlebg/90 text-codeblock-titletext/75;
        @apply whitespace-nowrap text-ellipsis overflow-hidden;
        @apply text-sm italic font-mono;
      }
    }

    /*   @media (prefers-color-scheme: dark) {
     div[data-theme="light"],
     pre[data-theme="light"],
     code[data-theme="light"] {
       display: none;
     }
   }

   @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
     div[data-theme="dark"],
     pre[data-theme="dark"],
     code[data-theme="dark"] {
       display: none;
     }
   } */
    & .footnotes {
      margin-top: 1.5rem;
      border-top: 1px var(--line) solid;
      & li {
        list-style-position: unset;
      }
      & a {
        text-decoration: none;
      }
    }
    & iframe {
      margin: 0.5rem 0;
    }
  }

  .pager-visible {
    @apply flex h-8 w-24 items-center justify-evenly;
  }

  .pager-invisible {
    @apply h-8 w-24;
  }
}
