@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #191724;
  --secondary: #605f64;
  --hover: #edebef;
  --line: #8a829955;
  --shadow: #1c1b2266;
  --link: #ec4899;
  --nextbg: #1c1b22;
  --prevfg: #1c1b22;
  --codehl: #403d52;
  --codefind: #add7ff40;
  --mermaidbg: #edebef;
  --avangard1: #fb0500dd;
  --avangard2: #305157ee;
  --avangard3: #949587;
}

@layer base {
  body {
    @apply font-sans leading-7;
    -webkit-text-size-adjust: 100%;
    @apply text-fg bg-bg;
  }
  h1 {
    @apply text-4xl font-bold leading-normal;
  }
  h2 {
    @apply text-3xl font-bold leading-normal;
  }
  h3 {
    @apply text-2xl font-bold leading-normal;
  }
  h4 {
    @apply text-xl font-bold leading-normal;
  }
  h5 {
    @apply text-lg font-bold leading-normal;
  }
  h6 {
    @apply text-lg font-bold leading-normal;
  }
  blockquote {
    color: gray;
    margin: 1.5rem 0;
    padding: 0 1.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0.3rem;
      left: 0;
      background: var(--line);
    }
  }
}

@layer utilities {
  .post-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    & p,
    & li {
      & a {
        @apply text-[color:var(--link)] underline decoration-[color:var(--link)] decoration-2 underline-offset-2;
      }
    }
    & p {
      @apply my-4;
    }
    & blockquote {
      & p {
        margin: 0;
      }
    }
    & ul {
      @apply mb-4;
      @apply list-disc;
    }
    & ol {
      @apply mb-4;
      @apply list-decimal;
    }
    & li {
      @apply ml-6;
      @apply list-outside;
    }
    & h1 {
      @apply mt-12 mb-8;
    }
    & h2 {
      @apply mt-12 mb-8;
    }
    & h3 {
      @apply mt-10 mb-6;
    }
    & h4 {
      @apply mt-8 mb-4;
    }
    & h5 {
      @apply mt-6 mb-4;
    }
    & h6 {
      @apply mt-6 mb-4 ml-1;
    }
    & hr {
      @apply my-8;
    }
    & table {
      display: block;
      overflow-x: auto;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: center;
      @apply my-4;

      & th,
      & td {
        border: 1px solid var(--line);
        transition-property: border;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        padding: 0.25rem 0.5rem;
      }

      & th {
        background: var(--hover);
        transition-property: background;
        transition-duration: 0.2s;
        transition-timing-function: ease;
      }
    }

    // code inline
    & :not(pre) > code {
      @apply bg-codeinline/20 text-codeinline-text;
      transition-property: background;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      @apply py-0.5 px-1 mx-0.5;
      @apply rounded;
      // border-radius: 0.2rem;
      font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco,
        Consolas, monospace;
    }

    // code block
    & figure[data-rehype-pretty-code-figure] {
      @apply my-4; // block component margin
      @apply rounded-md bg-clip-border overflow-hidden;
      @apply relative; // for title... to be absolute

      > [data-rehype-pretty-code-title] {
        // when no caption, it will be figcaption
        // when caption exists, it will be div
        @apply p-2 w-full;
        @apply bg-codeblock-titlebg/90 text-codeblock-titletext;
        @apply whitespace-nowrap text-ellipsis overflow-hidden;
        @apply text-sm;
      }

      > pre {
        @apply bg-codeblock/85 text-codeblock-text;
        @apply py-4;
        @apply text-sm;
        @apply overflow-x-auto;

        & code span[data-line] {
          @apply px-4;
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco,
            Consolas, monospace;

          &[data-highlighted-line] {
            // 高亮行
            @apply bg-codeblock-highlightedbg/30;
          }

          > mark[data-highlighted-chars] {
            // 高亮字符
            @apply bg-codeblock-highlightedbg/30;
          }

          &[data-line-numbers] {
            // 行号
            counter-reset: line;
          }
        }

        // 专门处理行号
        & code[data-line-numbers] {
          counter-reset: line;

          > [data-line]::before {
            counter-increment: line;
            content: counter(line);

            /* Other styling */
            @apply inline-block mr-4 text-right text-codeblock-titletext/20;
            @apply w-2;
          }

          &[data-line-numbers-max-digits="2"] > [data-line]::before {
            @apply w-4;
          }
          &[data-line-numbers-max-digits="3"] > [data-line]::before {
            @apply w-8;
          }
          &[data-line-numbers-max-digits="4"] > [data-line]::before {
            @apply w-10;
          }
        }
      }

      > [data-rehype-pretty-code-caption] {
        // it would be a figcaption
        @apply p-2 w-full;
        @apply bg-codeblock-titlebg/90 text-codeblock-titletext/75;
        @apply whitespace-nowrap text-ellipsis overflow-hidden;
        @apply text-sm italic font-mono;
      }
    }

    // & pre {
    //   & code {
    //     display: grid;
    //     counter-reset: line;
    //   }
    // }

    // & div[data-rehype-pretty-code-fragment] {
    //   margin-top: 1.5rem;
    //   position: relative;
    //   & code {
    //     & .line {
    //       border-left: 3px solid transparent;
    //       padding: 0 1.25rem;
    //     }

    //     & > .line::before {
    //       counter-increment: line;
    //       content: counter(line);

    //       /* Other styling */
    //       display: inline-block;
    //       width: 1rem;
    //       margin-right: 1.25rem;
    //       text-align: right;
    //       @apply text-codeblock-lineno;
    //     }

    //     & .line.highlighted {
    //       border-left-color: var(--link);
    //       background: var(--codehl);
    //     }
    //     & .word {
    //       background: var(--codefind);
    //       padding: 0.25rem;
    //       border-radius: 0.25rem;
    //     }
    //   }
    //   & div {
    //     & + pre {
    //       @apply pt-12 pb-3 leading-6;
    //     }
    //   }

    //   & pre:not(div + pre) {
    //     @apply py-3;
    //   }
    // }

    /*   @media (prefers-color-scheme: dark) {
     div[data-theme="light"],
     pre[data-theme="light"],
     code[data-theme="light"] {
       display: none;
     }
   }

   @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
     div[data-theme="dark"],
     pre[data-theme="dark"],
     code[data-theme="dark"] {
       display: none;
     }
   } */
    & .mermaid {
      margin-top: 1.5rem;
      background: var(--mermaidbg);
      border-radius: 0.375rem;

      // for fixing the leading applied to svg
      // now it fixed by setting mermaid's config
      // by setting htmlLabel to false
      // now flowchart, sequence, pie is pretty good
      // if some other chart have the same issue and
      // not fixed by setting config, then use this
      // & svg {
      //   & div[display="inline-block"] {
      //     @apply leading-none h-full;
      //   }
      // }
    }
    & .footnotes {
      margin-top: 1.5rem;
      border-top: 1px var(--line) solid;
      & li {
        list-style-position: unset;
      }
      & a {
        text-decoration: none;
      }
    }
    & iframe {
      margin: 0.5rem 0;
    }
  }

  .pager-visible {
    @apply flex h-8 w-24 items-center justify-evenly;
  }

  .pager-invisible {
    @apply h-8 w-24;
  }
}
