name: Build And Upload Artifacts

on:
  workflow_call:
    inputs:
      site-origin:
        description: |
          site host, port, and protocol, e.g. https://ryojerryyu.github.io
        required: true
        type: string
      site-base-path:
        description: |
          site base path, e.g. /blog-next
          default empty
        required: false
        type: string
      is-ci-build:
        description: |
          indicate this is a CI build, skip uploading artifacts
          default false
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6
        if: inputs.is-ci-build == false
        # if not a CI build, fetch all history for full build
        with:
          # git-restore-mtime-bare uses the ref log to find the correct timestamp
          # for each file. This requires a full git history. The default value (1)
          # creates a shallow checkout.
          fetch-depth: 0
          lfs: true
      - name: Checkout without history
        uses: actions/checkout@v6
        if: inputs.is-ci-build == true
        # if CI build, fetch minimal history
        with:
          fetch-depth: 1
          # lfs: true
      # Fix timestamps
      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      # a standard step for GitHub actions on Node
      # https://github.com/actions/setup-node
      - uses: actions/setup-node@v6
        with:
          # update the Node version to meet your needs
          node-version: 22
          cache: yarn

      - name: Build
        run: |
          yarn install
          yarn build
          touch out/.nojekyll
        env:
          NEXT_PUBLIC_SITE_ORIGIN: ${{ inputs.site-origin }}
          NEXT_PUBLIC_SITE_BASE_PATH: ${{ inputs.site-base-path }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        if: ${{ !inputs.is-ci-build }}
        with:
          name: blog-next
          path: out
